source /usr/local/Caskroom/miniconda/base/bin/activate dag-timeline

export AIRFLOW_HOME=$PWD/airflow
export AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow_rbac:airflow_rbac@localhost:5432/airflow_rbac
export AIRFLOW__WEBSERVER__RBAC=true
export AIRFLOW__WEBSERVER__RELOAD_ON_PLUGIN_CHANGE=true
