{% extends 'airflow/master.html' %}

{% block page_title %}DAG Timeline | {{app_name}}{% endblock %}

{% block content %}
    <h1>DAG Timeline</h1>
    <div id="timeline">

    </div>
{% endblock %}

{% block tail %}
    {{ super() }}

    <script src="{{ url_for_asset('moment.js') }}"></script>
    <script src="{{ url_for('dag_timeline.static', filename='js/timelines-chart.min.js') }}"></script>
    <script type="text/javascript">
        const data = [
          {
            group: "group",
            data: [
              {
                label: "dag1",
                data: [
                  {
                    timeRange: [moment().toDate(), moment().add(1, 'hour').toDate()],
                    val: "dag1-a"
                  },
                  {
                    timeRange: [moment().add(1, 'day').toDate(), moment().add(1, 'day').add(1, 'hour').toDate()],
                    val: "dag1-b"
                  }
                ]
              },
              {
                label: "dag2",
                data: [
                  {
                    timeRange: [moment().toDate(), moment().add(1, 'hour').toDate()],
                    val: "dag2-a"
                  }
                ]
              }
            ]
          }
        ]

        TimelinesChart()(document.body)
        .zScaleLabel('My Scale Units')
        .zQualitative(true)
        .data(data);
    </script>
{% endblock %}
