{% extends 'airflow/master.html' %}

{% block page_title %}DAG Schedule Graph | {{ app_name }}{% endblock %}

{% block content %}
    <h1>DAG Schedule Graph</h1>
    <div class="chart-wrapper">
        <canvas id="chart"></canvas>
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}

    <script type="text/javascript">
        const DAGScheduleGraph = {
            fromTimestamp: {{ from_timestamp | safe }},
            toTimestamp: {{ to_timestamp | safe }},
            dagSchedules: {{ dag_schedules | safe }}
        };
    </script>
    <script src="{{ url_for('dag_schedule_graph.static', filename='dist/main.js') }}" type="text/javascript"></script>
{% endblock %}
